body {
    background-image: linear-gradient(
        rgba(221, 207, 207, 0.705),
        rgba(228, 218, 218, 0.705)),
        url(fondo_cabeza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 97vh;
}
  

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.h22 {
    text-align: center; text-decoration-line: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img1 {
    float: right; width: 250px; height: 250px;
}

.img2 {
    float: right; width: 350px; height: 350px;
}

.img3 {
    display: block; margin: auto; width: 700px; height: 550px;
}

p {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.p1 {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ul2 {
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
    width: 60%; border: 1px solid gray; border-collapse: collapse; 
}

th {
    border: 1px solid gray; text-align: left;
    background-color: rgb(196, 196, 60);
}

td {
    border: 1px solid gray;
    background-color: rgb(240, 233, 233);
}

span {
    font-weight: bold;
}

nav {
    margin-left: 30%;
}

nav a:hover{
    color: blueviolet;
}

a {
    color: black;
    text-decoration: none;
}

button {
    margin-top: 20px;
    padding: 12px 90px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: lightseagreen;
}


