body {
    background-image: linear-gradient(
        rgba(221, 207, 207, 0.705),
        rgba(228, 218, 218, 0.705)),
        url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 97vh;
}

h2 {
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img1 {
    float: left; width: 150px; height:200px; 
}

.img2 {
    float: right; width: 150px; height:200px;
}

nav a:hover{
    color: blueviolet;
}

a {
    color: black;
    text-decoration: none;
}

button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: lightseagreen;
    display: block;
    margin: 10px auto;
}


