body {
      background-image: linear-gradient(
        rgba(221, 207, 207, 0.705),
        rgba(228, 218, 218, 0.705)),
        url(fondo_cuerpo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 97vh;
}

h1 {
    text-align: center;
    font-size: 40px;
     text-decoration-line: underline;
     font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    text-decoration-line: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.E1 {
    text-align: left;
    font-size: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.E2 {
    text-align: left;
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img1 {
    float: right; width: 400px; height:300px; 
}

.img2 {
    float: none; width: 350px; height:300px; display: block; margin: auto;
}

ul {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

span {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    margin-left: 10%;
}

nav a:hover{
    color: blueviolet;
}

a {
    color: black;
    text-decoration: none;
}

button {
    margin-top: 20px;
    padding: 12px 90px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: lightseagreen;
}
