body {
      background-image: linear-gradient(
        rgba(221, 207, 207, 0.705),
        rgba(228, 218, 218, 0.705)),
        url(fondo_extremidades.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 97vh;
}

h1 {
    font-weight: bold;
    text-align: center;
    text-decoration-line: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-weight: bold;
    text-decoration-line: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img1 {
    float: right; width: 250px; height: 250px;
}

.img2 {
     float: left; width: 350px; height: 350px;
}

.img3 {
     float: right; width: 350px; height: 350px;
}

.img4 {
    float: left; width: 450px; height:400px;
}

.img5 {
    float: right; width: 450px; height:400px;
}
    
span {
    font-weight: bold;
}

.p1 {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.p2 {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    font-size: 23px;
     font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    margin-left: 30%;
}

nav a:hover{
    color: blueviolet;
}

a {
    color: black;
    text-decoration: none;
}

button {
    margin-top: 20px;
    padding: 12px 90px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: lightseagreen;
}



 